/* First Section */
.home-1 {
    background-image: url("../images/bg-pattern-home-2.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 350px;
    color: var(--white);
    height: 75vh;
    min-height: 500px;
    max-height: 700px;
}
.home-1::after {
    content: url("../images/bg-pattern-home-1.svg");
    width: 150px;
    position: absolute;
    left: 0;
    transform: translateX(-67%);
}
.home-1 .row {
    grid-template-columns: 60% 35%;
    align-items: center;
    column-gap: 5%;
}
.home-1 h1 {
    font-size: 5rem;
    line-height: 4.5rem;
}
.home-1 span {
    color: var(--coral);
}
.home-1 p {
    position: relative;
}
.home-1 p::before {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--cyan);
    width: 25%;
    height: 4px;
    top: -10%;
}
@media (max-width: 768px) {
    .home-1 .row {
        grid-template-columns: 1fr;
        align-content: center;
    }
    .home-1 h1{
        text-align: center;
    }
    .home-1 h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home-1 p {
        margin-top: 30px;
    }
    .home-1 p::before {
        display: none;
    }
    .home-1::after {
        display: none;
    }
}

/* Second Section */
.home-2 {
    background-color: var(--very-dark-green);
    padding: 100px 0;
}
.home-2::after {
    content: url("../images/bg-pattern-home-3.svg");
    width: 150px;
    position: absolute;
    right: 0;
    transform: translateX(40%);
}
.home-2 .row {
    grid-template-columns: repeat(2, 47.5%);
    align-items: center;
    column-gap: 5%;
}
.home-2 h2 {
    position: relative;
    margin-bottom: 25%;
}
.home-2 h2::before {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--coral);
    width: 75px;
    height: 4px;
    top: -20%;
}
.home-2 .row .info {
    display: grid;
    grid-template-columns: 25% 73%;
    gap: 2%;
    margin: 40px 0;
}
.home-2 .row .info div:first-child {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.home-2 h3 {
    color: var(--coral);
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    .home-2 {
        background-position: top right;
    }
    .home-2 .row {
        grid-template-columns: 1fr;
    }
    .home-2 h2 {
        margin-bottom: 5%;
    }
    .home-2 h3 {
        text-align: center;
    }
    .home-2 .row .info {
        grid-template-columns: 1fr;
    }
    .home-2 .row .info div:first-child {
        justify-content: center;
    }
}

/* Third Section */
.home-3 {
    background-image: url("../images/bg-pattern-home-4-about-3.svg");
    background-repeat: no-repeat;
    background-position: top left;
    padding: 100px 0;
}
.home-3::after {
    content: url("../images/bg-pattern-home-5.svg");
    width: 150px;
    position: absolute;
    right: 0;
    bottom: -10px;
}
.home-3 h2 {
    width: 75%;
    text-align: center;
}
.home-3 h2 span {
    color: var(--cyan);
}
.people {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 100px 30px;
    margin-top: 100px;
}
.people div {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.people p {
    position: relative;
    display: flex;
    justify-content: center;
}
.people p::before {
    content: "“";
    position: absolute;
    font-size: 9rem;
    color: var(--cyan);
    opacity: 0.2;
    margin-top: 10px;
}
.people h4 {
    color: var(--cyan);
    margin: 15px 0 5px 0;
}
.people i {
    font-weight: 400;
    text-wrap: nowrap;
}
.people img {
    border-radius: 50%;
    width: 60px;
    border: 2px solid var(--cyan);
    margin-top: 15px;
}
@media (max-width: 768px) {
    .people {
        grid-template-columns: 1fr;
    }
}

/* Section 4 */
.home-4 {
    background-color: var(--coral);
}
.home-4::before {
    content: url("../images/bg-pattern-home-6-about-5.svg");
    position: absolute;
    bottom: -10%;
}
.home-4 .row .center {
    padding: 75px 0;
    justify-content: space-between;
}
.home-4 h2 {
    color: var(--black);
}
@media (max-width: 768px) {
    .home-4 .row .center {
        flex-direction: column;
        justify-content: center;
    }
    .home-4 button {
        margin-top: 30px;
    }
    .home-4 h2 {
        text-align: center;
    }
}