/* Global colors */
:root {
    --white: #ffffff;
    --coral: #f67e7e;
    --dark-green: #014e56;
    --very-dark-green: #012f34;
    --black: #012f34;
    --cyan: #79c8c7;
    --footer-text: rgb(255 255 255 / 60%);
}
/* Global Classes and styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Livvic', sans-serif;
    font-weight: bold;
    color: var(--white);
    z-index: 2;
}
html {
    overflow-x: hidden;
}
body {
    display: flex;
    justify-content: center;
    background-color: var(--dark-green);
    overflow-x: hidden;
}
main {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    width: 100%;
}
.container {
    width: 100%;
    position: relative;
    display: grid;
    justify-content: center;
}
.row {
    width: 80vw;
    max-width: 1200px;
    display: grid;
}
ul {
    list-style: none;
}
button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
a {
    text-decoration: none;
    transition: 0.2s ease all;
}
a:hover {
    color: var(--coral);
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-btn {
    border: 2px solid var(--white);
    padding: 12px 20px;
    border-radius: 30px;
    text-wrap: nowrap;
}
.contact-btn-dark {
    border: 2px solid var(--black);
    padding: 12px 20px;
    border-radius: 30px;
    text-wrap: nowrap;
    color: var(--black);
}
.contact-btn:hover {
    background-color: var(--white);
    color: var(--black);
}
.contact-btn-dark:hover {
    background-color: var(--black);
    color: var(--white);
}
p {
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
}
h2 {
    font-size: 2.5rem;
}
@media (max-width: 768px) {
    p {
        text-align: center;
    }
    h2 {
        font-size: 2rem;
    }
}

/* Nav-------------------------------------- */
nav {
    padding: 20px 0;
    width: 100%;
    position: sticky;
    display: grid;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 5;
}
nav .row {
    grid-template-columns: auto 1fr auto;
}
nav ul {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: flex-start;
    column-gap: 5%;
    margin-left: 10%;
    align-items: center;
}
nav img {
    width: 128px;
}
.menu-btn {
    display: none;
}
.menu-btn img {
    width: 20px;
}
.menu-content {
    background-color: #2c6269;
    height: 100vh;
    width: 75vw;
    position: absolute;
    right: 0;
    padding: 40px;
    z-index: 10;
    transition: 0.3s ease transform;
}
.menu-content::after {
    content: url("../images/bg-pattern-about-1-mobile-nav-1.svg");
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(50%);
}
.menu-content > div {
    display: flex;
    justify-content: flex-end;
}
.menu-content ul {
    margin: 40px 0;
}
.menu-content li {
    margin: 30px 0;
}
.menu-content::before {
    content: "";
    background-color: rgba(31, 31, 31, 0.5);
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
}
.menu-content.hide {
    transform: translateX(-200vw);
}
@media (max-width: 786px) {
    .menu-btn {
        display: block;
    }
    .hide-mobile {
        display: none;
    }
    nav ul {
        visibility: hidden;
    }
}



/* Footer */
footer {
    padding: 60px 0;
    background-color: rgb(0 37 41);
}
footer .row {
    grid-template-columns: 166px 2fr;
}
footer img[alt=logo] {
    width: 128px;
}
footer .row:first-child > div:first-child {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    row-gap: 20px;
}
footer .footer-logo {
    grid-column: span 2;
}
footer address,
footer p {
    color: rgb(255 255 255 / 60%);
    font-style: normal;
    text-align: end;
    margin: 5px 0;
}
footer .row:last-child {
    margin: 30px 0;
}
.media {
    display: flex;
}
.media a {
    margin: 0 10px;
}
.media a:first-child {
    margin-left: 0;
}
@media (max-width: 768px) {
    footer .row {
        grid-template-columns: 200px;
        justify-content: center;
    }
    footer a,
    footer address,
    footer p {
        text-align: center;
    }
    footer .footer-logo {
        display: flex;
        justify-content: center;
    }
    .addresses {
        margin-top: 30px;
    }
    .media {
        justify-content: center;
    }
}